/* get the required local files */
@font-face {
  font-family: "GreatVibes";
  src: url("./fonts/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto-Bold.ttf");
}

/* use the font */
body {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  background-position: center;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
  color: white;
  position: absolute;
  /* background-color: rgb(166 0 255 / 30%); */
  background-image: linear-gradient(purple, transparent);
}

.title {
  text-align: left;
  font-family: "GreatVibes", sans-serif;
  position: absolute;
  left: 25px;
  top: 25px;
  color: white;
}
